#container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#filter {
  padding: 8px 8px 0;

  mat-form-field {
    width: 100%;
  }
}

#tickets {
  flex: 1;
  overflow: auto;
}

.select-all {
  display: flex;
  align-items: center;
  padding: 10px 10px 0px 10px;

  button {
    margin-left: 10px;
  }
}

.active-link {
  background-color: rgb(230, 230, 230);
}

.ticket-message {
  display: flex;
}

::ng-deep {
  #tickets {
    .mdc-label {
      padding: 0px;
      padding-bottom: 15px;
      width: 200px;
    }

    .mdc-checkbox {
      position: absolute !important;
      left: 175px;
      top: 20px;
      z-index: 1;
    }
  }

}
